#mobile-menu {
    display: none;
}

.hidden {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
}

header .md:hidden {
    margin-left: auto;
}

@media (max-width: 768px) {
    #mobile-menu {
        display: block;
    }
    nav {
        display: none;
    }
    header {
        justify-content: center;
    }
}
