#mobile-menu {
    transition: all 0.3s ease-in-out;
}
.hidden {
    display: none;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
header .text-lg {
    flex: 1;
    text-align: center;
}
header .md:hidden {
    margin-left: auto;
}
